<html>
    <head>
        <meta name="own_hash" content="{{ own_hash }}">
        <meta name="prev_hash" content="{{ prev_hash }}">
        <meta name="block_hash" content="{{ block_hash }}">
        <meta charset="utf-8">
        <style>
            .doc {
                margin: 2em auto 0 auto;
                width: 50%;
                text-indent: 1.5em;
                font-size: 18px;
            }
            .title {
                font-size: 20px;
                font-weight: bold;
                text-align: center;
            }
            .date {
                margin: 3em;
                text-align: right;
            }
            ol {
                text-indent: 0;
            }
            table {
                margin: 1em;
                width: 100%;
            }
            table thead {
                font-weight: bolder;
                font-size: 19px;
            }
            .main {
                margin: 0.5em;
            }
        </style>
    </head>
    <body>
        <div class="doc">
            <div class="title">
                ДОГОВОР ЗАЙМА № {{ document_id }}
            </div>
            <div class="date">
                {{ date }}
            </div>
            <div class="intro">
                {{ creditor_name }}, именуем{% if creditor_gender.is_male %}ый {% else %}ая {% endif %}в дальнейшем «Заимодавец», с одной стороны, и
                {{ borrower_name }}, именуем{% if borrower_gender.is_male %}ый {% else %}ая {% endif %} в дальнейшем «Заемщик», с другой стороны,
                заключили настоящий Договор о нижеследующем.
            </div>
            <div class="main">
                <ol>
                    <li>
                        ПРЕДМЕТ ДОГОВОРА. ОБЩИЕ ПОЛОЖЕНИЯ
                        <ol>
                            <li>
                                Заимодавец передает в собственность Заемщику денежные средства в сумме
                                {{ verbose_loan_size_by }} бел. руб., а Заемщик обязуется возвратить Заимодавцу такую
                                же сумму (сумму займа) по истечении срока действия настоящего Договора или с согласия
                                Заимодавца досрочно и уплатить проценты на сумму займа в размерах и порядке,
                                установленных настоящим Договором.
                            </li>
                            <li>
                                Проценты на сумму займа устанавливаются в размере {{ percentage_year }}% годовых и подлежат выплате Заемщиком ежедневно до дня возврата суммы займа.
                            </li>
                            <li>
                                Сумма займа передается Заимодавцем Заемщику электронным платежом в день заключения настоящего Договора в полном объеме. Стороны договорились, что создание настоящего Договора подтверждает фактическое получение им суммы займа в полном объеме.
                            </li>
                            <li>
                                Сумма займа считается возвращенной Заемщиком в момент зачисления соответствующих денежных средств на его счет.
                            </li>
                            <li>
                                Права и обязанности сторон, помимо установленных настоящим Договором, определяются по общим правилам действующего законодательства Республики Беларусь.
                            </li>
                        </ol>
                    </li>
                    <li>
                        СРОК ДОГОВОРА
                        <ol>
                            <li>
                                Настоящий Договор вступает в силу со дня получения Заемщиком суммы займа, точнее в день его создания.
                            </li>
                            <li>
                                Настоящий Договор заключен на срок до {{ last_return_day }}, то есть в день истечения указанного срока сумма займа должна быть возвращена Заемщиком Заимодавцу. В этот же день должны быть завершены выплаты процентов на сумму займа.
                            </li>
                            <li>
                                До завершения сторонами исполнения своих обязательств, вытекающих из настоящего Договора, соответствующие условия Договора сохраняют свою силу.
                            </li>
                        </ol>
                    </li>
                    <li>
                        ОТВЕТСТВЕННОСТЬ ЗАЕМЩИКА
                        <ol>
                            <li>
                                В случае, когда Заемщик не возвращает в срок сумму займа, на эту сумму подлежат уплате проценты за неправомерное пользование чужими денежными средствами. Размер процентов определяется по учетной ставке рефинансирования Национального банка Республики Беларусь на день возврата суммы займа. Проценты уплачиваются со дня, когда сумма займа должна была быть возвращена, до дня ее возврата Заимодавцу независимо от уплаты процентов на сумму займа, установленных в п. 1.2 настоящего Договора.
                            </li>
                            <li>
                                Помимо уплаты процентов за пользование чужими денежными средствами в случае невозврата в срок суммы займа Заемщик обязан возместить Заимодавцу убытки, причиненные нарушением условий настоящего Договора, в части, не покрытой процентами за пользование чужими денежными средствами.
                            </li>
                        </ol>
                    </li>
                    <li>
                        РАЗРЕШЕНИЕ СПОРОВ
                        <ol>
                            <li>
                                Споры и разногласия, которые могут возникнуть при исполнении настоящего Договора, будут по возможности разрешаться путем переговоров между сторонами.
                            </li>
                            <li>
                                В случае невозможности разрешения споров путем переговоров стороны передают их на рассмотрение суда.
                            </li>
                        </ol>
                    </li>
                    <li>
                        РЕКВИЗИТЫ И ПОДПИСИ СТОРОН
                        <div class="table">
                            <table>
                                <tr>
                                    <td>
                                        Заимодавец:
                                    </td>
                                    <td>
                                        Заемщик:
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ creditor_full_name }}
                                    </td>
                                    <td>
                                        {{ borrower_full_name }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ creditor_passport }}
                                    </td>
                                    <td>
                                        {{ borrower_passport }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ creditor_telephone }}
                                    </td>
                                    <td>
                                        {{ borrower_telephone }}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </li>
                </ol>
            </div>
            <div class="footer">
                Настоящий Договор составлен в двух экземплярах на русском языке. Оба экземпляра идентичны и имеют одинаковую силу. У каждой из сторон находится один экземпляр настоящего Договора.

            </div>
        </div>
    </body>
</html>